/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

*:focus { outline: 0; }

/* end of reset css */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #545454;
  background-color: #fff;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

hr {
  border: 0;
  border-bottom: 4px solid $sand-blue;
}

*, *::after, *::before {
  box-sizing: border-box;
}

figure {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  line-height: 24px;
  color: #545454;
}

small { font-size: 12px }

strong { font-weight: 600 }
b { font-weight: 800 }

/* HEADS */

h1 {
  font-size: 28px;
  font-weight: 300;
  letter-spacing: 3px;
}

h2 {
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 2px;
}

h3 {
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
}

h2, h3 { letter-spacing: 1px; }

h1, h2, h3 {
  margin: 0;
}

h1.head--blue-border,
h2.head--blue-border,
h3.head--blue-border  {
  position: relative;
  text-transform: none;
  margin-bottom: 27px;
}

h1.head--blue-border::after,
h2.head--blue-border::after,
h3.head--blue-border::after {
  content: ' ';
  position: absolute;
  height: 2px;
  width: 64px;
  bottom: -9px;
  left: 0;
  background-color: #4664D3;
}

@media only screen and (min-width: 768px) {
  h1 { font-size: 36px }
  h2 { font-size: 28px }
  h3 { font-size: 20px }
}

/* ANCHORS */
a {
  color: #4664D3;
  text-decoration: none;
  cursor: pointer;
  word-wrap: break-word;
}

/* COLORS */
.color--blue { color: #4664D3 }
.color--light-blue { color: #4a90e2 }
.color--dark-blue { color: #044077 }
.color--sand-blue { color: #f4f5fb }

.color--purple { color: #733FE0 }

.color--red { color: #ff2f48 }

.color--green { color: #0fbc9d }
.color--light-green { color: #b8e986 }
.color--dark-green { color: #1fa990 }

.color--black { color: #000 }
.color--dark-grey { color: #545454 }
.color--regular-grey { color: #a8a8a8 }
.color--light-grey { color: #e0e0e0 }
.color--sand-grey { color: #fcfcfc }
.color--white { color: #fff }

/* BACKGROUNDS */
.bg--white { background-color: #fff }
.bg--blue { background-color: #4664D3 }
.bg--grey { background-color: #fcfcfc }
.bg--regular-grey { background-color: #a8a8a8 }
.bg--dark-grey { background-color: #545454 }
.bg--thunder-grey { background-color: #343434 }

/* BORDER DIVISORS */
.border { border: 1px solid #e0e0e0 }
.border--right { border-right: 1px solid #e0e0e0 }
.border--left { border-left: 1px solid #e0e0e0 }
.border--top { border-top: 1px solid #e0e0e0 }
.border--bottom { border-bottom: 1px solid #e0e0e0 }

.border-color--blue { border-color: #4664D3 }

.border-color--black { border-color: #000 }
.border-color--dark-grey { border-color: #545454 }
.border-color--regular-grey { border-color: #a8a8a8 }
.border-color--light-grey { border-color: #e0e0e0 }
.border-color--sand-grey { border-color: #fcfcfc }
.border-color--white { border-color: #fff }

.border-radius { border-radius: 2px; }

/* SPACEMENTS */
.space { margin: 9px }
.space--left { margin-left: 9px }
.space--right { margin-right: 9px }
.space--top { margin-top: 9px }
.space--bottom { margin-bottom: 9px }
.space--left-right { margin-left: 9px; margin-right: 9px }
.space--top-bottom { margin-top: 9px; margin-bottom: 9px }

.space--large { margin: 27px }
.space--left--large { margin-left: 27px }
.space--right--large { margin-right: 27px }
.space--top--large { margin-top: 27px }
.space--bottom--large { margin-bottom: 27px }
.space--left-right--large { margin-left: 27px; margin-right: 27px }
.space--top-bottom--large { margin-top: 27px; margin-bottom: 27px }

.inner-space { padding: 9px }
.inner-space--left { padding-left: 9px }
.inner-space--right { padding-right: 9px }
.inner-space--top { padding-top: 9px }
.inner-space--bottom { padding-bottom: 9px }
.inner-space--left-right { padding-left: 9px; padding-right: 9px }
.inner-space--top-bottom { padding-top: 9px; padding-bottom: 9px }

.inner-space--large { padding: 27px }
.inner-space--left--large { padding-left: 27px }
.inner-space--right--large { padding-right: 27px }
.inner-space--top--large { padding-top: 27px }
.inner-space--bottom--large { padding-bottom: 27px }
.inner-space--left-right--large { padding-left: 27px; padding-right: 27px }
.inner-space--top-bottom--large { padding-top: 27px; padding-bottom: 27px }

.inner-space--x-large { padding: 81px }
.inner-space--left--x-large { padding-left: 81px }
.inner-space--right--x-large { padding-right: 81px }
.inner-space--top--x-large { padding-top: 81px }
.inner-space--bottom--x-large { padding-bottom: 81px }
.inner-space--left-right--x-large { padding-left: 81px; padding-right: 81px }
.inner-space--top-bottom--x-large { padding-top: 81px; padding-bottom: 81px }

/* VISUAL STATES */
.box-shadow { box-shadow: 0px 0px 8px rgba(0, 0, 0, .1) }
.transition {
  transition: all .15s ease-in-out;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.disabled,
[disabled] {
  opacity: .4;
  cursor: not-allowed;
}

.center { margin: 0 auto; }

.hide { display: none }
.uppercase { text-transform: uppercase }
.pointer { cursor: pointer }
span.emoji {
  display: inline-block;
  font-size: 24px;
  transform: translateY(6px);
  line-height: .35
}

/* LISTS */
ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}
